<h1> Welcome to the About Me! </h1>
<p>
I am <strong> Sam Liokumovich </strong> and I am so strong. Because the html page just said so!!!!!!
<br />
hahahah see what <strong> I  </strong> did there?
<br />
I put a strong tag pointing to <strong> me </strong>
</p>
<%= link_to 'Back to Home', root_path %>
