<h1> Welcome Throwers!!!!! </h1>
<p>
See all throwing news here! Shot put and discus!
</p>
<%= link_to 'About Me', about_path %>
<% Do You Want to be a thrower? Or a mokey monkey dancer! Horray! I like to be a dancer %>
