<div class = "container">
  <footer class = "footer">
    <small>
    <a href="https://www.youtube.com/user/throwrightfarhappens"  target="_blank">  Deerfield Highschool Throws </a>
  </small>
  <nav>
    <ul>
    <li> <%= link_to 'home', root_path %></li>
</ul>
</nav>
</div>
